<html>
  <head>
     <title>Weather App About Page</title>
     <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{> header}}
  
    <img src="./img/dimi.jpg" alt="Photo of Dimi" class="portrait"/>
    </div>
    {{> footer}}
  </body>
</html>