body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #00002c;
  font-family: arial;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex-grow: 1;
  width: 90%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}

header h1 {
  font-size: 80px;
  text-align: left;
}
header div {
  display: flex;
  justify-content: space-between;
}

header div a {
  color: #00002c;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid transparent;
  font-size: 50px;
  margin-bottom: 10px;
}

header div a:hover {
  border-bottom: 2px solid #00002c;
}

footer {
  border-top: 2px solid #00002c;
  width: 100%;
  padding: 2px auto;
  text-align: center;
  font-size: 25px;
}

footer h4 {
  margin: 5px;
}

.portrait {
  width: 150px;
}

p {
  font-size: 18px;
}

input {
  border: 1px solid #00002c;
  padding: 8px;
  font-size: 20px;
}

button {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #00002c;
  background-color: #00002c;
  color: white;
  padding: 8px;
}
